<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>
<Configuration status="off">
    <Appenders>
        <Console name="stdout"></Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="stdout" />
        </Root>
    </Loggers>
</Configuration>